.nav-list {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 63px;

    @include tablet() {
        display: none;
    }
}
.nav-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;

    position: relative;
    
}
